{{define "title"}}Go Gorilla - Contact{{end}}

{{define "main"}}
<h1>Contact Page</h1>
<div>
Please contact us @ 
	<a href="mailto:helpdesk@gorilla-gallery.com">mailto:helpdesk@gorilla-gallery.com<a>
    </div>
{{end}}